*{
   
    scroll-behavior: smooth;
   
}

.myapp{
    display: flex;
    height: 100vh;
   
    overflow: hidden;
    
}
.mainshow{
    width: 100%;
    overflow: hidden;
  
}
.topbar{
    height: 8vh;
    background-color: black;
    border-bottom: 5px solid grey;
    display: flex;
    align-items: center;
    justify-content: right;
}
@media screen and (max-width: 768px){
    .myapp{
        display: flex;
        height: 100vh;
        flex-direction: column;
        overflow: hidden;
        
    }
    .topbar{
        display: none;
    }
    .mainshow{
        border-top: gray solid 5px;
        overflow: auto;
        
    }
}